:root {
  --bg-main-color: #00000030;

  --bg-accent-color: #2d2d2d;

  --accent-color: #a8a8a8;

  --text-accent-color: #ffe498;

  --text-edit-bg-color: #575757;

  --border-color: #3f3f3f;

  --shadow-color: #202020;

  --document-bg-color: #68686850;

  --component-bg-gradient: linear-gradient(90deg, rgba(201,200,203,0.7380352644836272) 0%, rgba(46,45,46,1) 100%);

  --smokywhite: #dddbd8;

  --black: #000000;

  --translucent-black: #00000099;
}

li {
  list-style: none;
  padding-left: 0;
}

p{
  color: #575757;
}

label {
  color: var(--text-accent-color);
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

input, textarea {
  background-color: var(--text-edit-bg-color)
  color: var(--smokywhite)
  font-size: 1.5em;
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  background: url('../assets/whitebackground.svg') center/cover no-repeat;
  font-family: Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 850px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background: var(--bg-main-color);
  border-bottom: 1px solid var(--bg-accent-color);
  text-align: center;
}

.banner__title {
  margin: 20px;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button,
.dialog__submit {
  margin: 0.1em 0.2em;
  color: #ffffff;
  text-align: center;
  user-select: none;
  padding: 1em 3em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--bg-main-color);
  border-color: var(--accent-color);
  border-radius: 2px;
  transition: 250ms ease-in-out;
}

.create-button:hover {
  cursor: pointer;
  color:wheat;
  transform: scale(1.05)
}

.document {
  height: 100%;
  overflow-y: auto;
  background: var(--document-bg-color);
  /* firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

.footer {
  background: var(--bg-main-color);
  border-top: 1px solid var(--border-color);
  text-align: center;
}

/* Dialog */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 100%;
  font-size: 1.2rem;
  /* 배경색 적용 버전 */
  /* background-color: var(--document-bg-color);  */
  background-color: transparent;
  border: 0;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: var(--bg-accent-color);
  background: var(--component-bg-gradient);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px var(--shadow-color);
  
}

.form__container {
  display: flex;
  flex-direction: column;
  margin_bottom: 1em;
}

.close {
  align-self: flex-end;
  padding:0.2rem;
  color:var(--accent-color);
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
  transition: color 250ms ease;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  color: wheat;
  text-decoration: none;
  cursor: pointer;
}

.dialog__submit {
  align-self: flex-end;
  padding: 0.5em 1.5em;
  transition: color 250ms ease;
}

.dialog__submit:hover {
  transform: scale(1.1);
  color: wheat;
  cursor: pointer;
}

/* page */
.page-item {
  margin: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 6px var(--shadow-color);
  background: var(--component-bg-gradient);
}

.page-item__controls {
  padding-right: 0.5em;
}

.page-item__title {
  color: #FFFFFF;
  background: transparent;
  text-shadow: 3px 5px 2px #474747;
}

.page-item__body {
  width: 100%
}

/* video, image */
.video,
.image {
  display: flex;
  width: 100%;
  height: 250px;
}

.video__player,
.image__holder {
  flex: 60% 1 1;
}

.video__title,
.image__title {
  flex: 40% 1 1;
  margin-left: 0.5em;
}

.video__iframe{
  border:none;
  width: 100%;
  height: 100%;
}

.image__thumbnail {
  width:100%;
  height: 100%;
}

/* note */
.note {
  padding: 0.5em;
}

/* todo */
.todo {
  padding: 0.5em;
}

.todo__list,
.todo-label {
  padding: 1em;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;

}


